.form {
    margin-left: 30;
    margin-right: 30;
    width: 100%;
}

.page {
    align-items: center;
}

.header {
    font-size: 60;
    text-align: center;
    color: red;
    font-weight: 100;
    margin-bottom: 80;
    border-color: black;
}

.input-field {
    margin-bottom: 20
}

.input {
    font-size: 15;
    font-weight: 60;
}

.btn-primary {
    height: 50;
    background-color: red;
    color: white;
    font-size: 25%;
    font-weight: 90;
}